{% extends 'index.html' %}
{% load static %}

{% block body %}

        <div id = "login-main">
            
            <div id = "signupmsg">
                <h1>Hello Friends,</h1> 
                <!-- <p>Enter your personal details and start journey with us</p> -->
               <a href = "{% url 'registration'%}"> <button id  = "signupBtn">Signup</button></a>
            </div>
        </div>
        
        <div id  = "loginform">
            <h1 class = "forgot_password_heading">Change password</h1>
            
            <form action = "/forgot_password/" method = "post">
            {% csrf_token %}
               <div class = "fieldWrapper " id = "username_field">
                {% if user_dont_exist %}<div class="errors"> <div class = "error"> {{ user_dont_exist }}</div></div>{% endif %}
                    {{ forgot_password_form.username.errors}}
                    <label for  = "{{ forgot_password_form.username.id_for_label }}" class = "form-labels">Username:</label><br>
                    <input type="text" name="username" maxlength="100" id="id_username">
                  
                    
                </div> 
                <div class = "fieldWrapper" id = "password_field">
                    {{ forgot_password_form.phonenumber.errors}}
                    <label  for = "{{ loginform.phonenumber.id_for_label }}"class = "form-labels">Phonenumber:</label><br>
                    <input type="text" name="phonenumber" maxlength="15" id="id_phonenumber">
                   
                    
                </div>
                <div class = "verification_btn">
                <a href="{{request.META.HTTP_REFERER}}" class = "back_link"><i class='bx bx-arrow-back'></i>Back</a>
                <button type = "submit" class = "forgot_password_btn done_btn">Next</button>
                </div>
            </form>
            
            
            
        </div>

           
        </div>

        
        

    </div>


    <div id = "mobile-view">
        <div id  = "loginform" class = "mobile-view-login">
            <h1 class = "forgot_password_heading">Change password</h1>
            
            <form action = "/forgot_password/" method = "post">
            {% csrf_token %}
               <div class = "fieldWrapper " id = "username_field">
                {% if user_dont_exist %}<div class="errors"> <div class = "error"> {{ user_dont_exist }}</div></div>{% endif %}
                    {{ forgot_password_form.username.errors}}
                    <label for  = "{{ forgot_password_form.username.id_for_label }}" class = "form-labels">Username:</label><br>
                    <input type="text" name="username" maxlength="100" id="id_username">
                  
                    
                </div> 
                <div class = "fieldWrapper" id = "password_field">
                    {{ forgot_password_form.phonenumber.errors}}
                    <label  for = "{{ loginform.phonenumber.id_for_label }}"class = "form-labels">Phonenumber:</label><br>
                    <input type="text" name="phonenumber" maxlength="15" id="id_phonenumber">
                   
                    
                </div>
                <div class = "verification_btn">
                    <a href="{{request.META.HTTP_REFERER}}" class = "back_link"><i class='bx bx-arrow-back'></i>Back</a>
                <button type = "submit" class = "forgot_password_btn done_btn">Next</button>
                </div>
            </form>
        </div>
      

{% endblock body %}

