{% extends 'index.html' %}
{% load static %}

{% block body %}

        <div id = "login-main">
            
            <div id = "signupmsg">
                <h1>Hello Friends,</h1> 
                <!-- <p>Enter your personal details and start journey with us</p> -->
               <a href = "{% url 'registration'%}"> <button id  = "signupBtn">Signup</button></a>
            </div>
        </div>
        
        <div id  = "loginform">
            <h1>Login</h1>
            
            <form action = "/login/" method = "post">
            {% csrf_token %}
               <div class = "fieldWrapper " id = "username_field">
                 {% if username_exist %}<div class="errors"> <div class = "error"> {{username_exist }}</div></div>{% endif %}
                      {{ loginform.username.errors}}
                    <label for  = "{{ loginform.username.id_for_label }}" class = "form-labels">Username:</label><br>
                    <input type="text" name="username" maxlength="100" id="id_username">
                  
                    
                </div> 
                <div class = "fieldWrapper" id = "password_field">
                     {{ loginform.password.errors}}
                    <label  for = "{{ loginform.password.id_for_label }}"class = "form-labels">Password:</label><br>
                    <input type="password" name="password" maxlength="100" id="id_password">
                   
                    
                </div>
                <div>
                    <a href = "{% url 'forgot_password' %}" class = "forgot_password">Forgot password ?</a>
                    <button type = "submit" class = "login_btn">Login</button>
                </div>
               
            </form>
            
            
            
        </div>

           
        </div>

        
        

    </div>


    <div id = "mobile-view">
        <div id  = "loginform" class = "mobile-view-login">
            <h1 class = "form-heading">Login</h1>
             <form action = "/login/" method = "post">
                {% csrf_token %}
                <div class = "fieldWrapper " id = "mobile_username_field">
                    {% if username_exist %}<div class="errors"> <div class = "error"> {{username_exist }}</div></div>{% endif %}
                      {{ loginform.username.errors}}
                    <label for  = "{{ loginform.username.id_for_label }}" class = "form-labels">Username:</label><br>
                    {{ loginform.username}}
                  
                    
                </div> 
                <div class = "fieldWrapper" id = "mobile_password_field">
                     {{ loginform.password.errors}}
                    <label  for = "{{ loginform.password.id_for_label }}"class = "form-labels">Password:</label><br>
                    {{ loginform.password}}
                   
                    
                </div>  
                <a href = "{% url 'forgot_password' %}" class = "forgot_password">Forgot password ?</a><br>
                <button class = "login-btn-mobileView">Login</button><br>
                <a href = "{% url 'registration' %}"><button type = "button" id = "create-accountbtn">Create an account</button></a>
                <!-- <a href = "{% url 'registration'%}"> <button id  = "create-accountbtn">Signup</button></a> -->
            </form>
        </div>
      

{% endblock body %}

